<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

	<category label ="32018">
		<setting label="32009" id="enabled1" type="bool" default="false" />
		<setting label="32017" id="enabled_preview1" type="bool" default="true" enable="eq(-1,true)" subsetting="true" />
		<setting label="32010" id="enabled2" type="bool" default="false" />
		<setting label="32017" id="enabled_preview2" type="bool" default="true" enable="eq(-1,true)" subsetting="true" />
		<setting label="32011" id="enabled3" type="bool" default="false" />
		<setting label="32017" id="enabled_preview3" type="bool" default="true" enable="eq(-1,true)" subsetting="true" />
		<setting label="32012" id="enabled4" type="bool" default="false" />
		<setting label="32017" id="enabled_preview4" type="bool" default="true" enable="eq(-1,true)" subsetting="true" />
	</category>


	<category label="32019">
		<setting label="32020" id="fanart" type="enum" lvalues="32030|32031" default="0" />
		<setting label="32024" id="notifications" type="bool" default="true" />
		<setting label="32021" id="resume_time" type="slider" default="10" range="0,1,20" option="int" />
		<setting label="32025" id="hack1" type="bool" default="false" />
		<setting label="32023" id="log_level" type="enum" lvalues="32032|32033|32034|32039" default="0" />
	</category>
		
		
	<category label="32037">
		<setting label="32040" id="dismissed_behavior" type="enum" lvalues="32045|32046" default="1" />
		<setting label="32041" id="dismissed_duration" type="slider" default="15" range="0,1,60" option="int" />

		<setting label="32111" type="lsep" />
		<setting label="32112" id="w_setting" type="bool" default="true" subsetting="true" />
		<setting label="32113" id="w_context" type="bool" default="true" subsetting="true" />
		<setting label="32114" id="w_home" type="bool" default="false" subsetting="true" />
		<setting label="32115" id="w_library" type="bool" default="false" subsetting="true" />
		<setting label="32116" id="w_sysinfo" type="bool" default="false" subsetting="true" />
		<setting label="32117" id="w_keyboard" type="bool" default="true" subsetting="true" />
		<setting label="32118" id="w_controls" type="bool" default="true" subsetting="true" />
		<setting label="32119" id="w_windowid" type="text" />
	</category>


	<category label="32001">
		<setting label="32050" id="name1" type="text" />
		<setting label="32051" id="type1" type="enum" lvalues="32065|32066|32067|32068" default="0" />
			<setting label="32052" id="host1" type="text" enable="!eq(-1,3)" />
			<setting label="32053" id="port1" type="number" default="88" enable="!eq(-2,3)" />
			<setting label="32054" id="user1" type="text" default="admin" enable="!eq(-3,3)" />
			<setting label="32055" id="pass1" type="text" option="hidden" enable="!eq(-4,3)" />
			<setting label="32056" id="stream1" type="enum" lvalues="32071|32072" default="0" />
			<setting label="32057" id="allstream1" type="enum" lvalues="32072|32073|32074" default="1" />
			<setting label="32058" id="preview_stream1" type="enum" lvalues="32072|32073|32074" default="0" />
			<setting label="32059" id="snapshot_url1" type="text" visible="!eq(-8,0)+!eq(-8,2)" subsetting="true" />
			<setting label="32060" id="stream_url1" type="text" visible="!eq(-9,0)+!eq(-9,2)" subsetting="true" />
			<setting label="32061" id="mjpeg_url1" type="text" visible="!eq(-10,0)+!eq(-10,2)" subsetting="true" />
			
		<setting label="32080" type="lsep" />
			<setting label="32081" id="ptz1" type="enum" lvalues="32035|32084|32081" default="0" enable="!eq(-12,3)" />
			<setting label="32022" id="ptz_sensitivity1" type="slider" default="2.5" range="0.5,0.5,10" enable="!eq(-13,3)+!eq(-1,0)" subsetting="true" />
			<setting label="32082" id="conn1" type="enum" lvalues="32036|32085|32086" default="0"  enable="!eq(-14,3)+!eq(-2,0)" subsetting="true" />
			<setting label="32083" id="alarm1" type="enum" lvalues="32035|32087|32088" default="0" enable="!eq(-15,3)" />
			
		<setting label="32090" type="lsep" />
			<setting label="32091" id="motion1" type="bool" default="false" enable="gt(-2,0)" />
			<setting label="32092" id="sound1" type="bool" default="false" enable="eq(-3,2)" />
			<setting label="32093" id="interval1" type="slider" default="4" range="1,1,15" option="int" enable="gt(-4,0)" />
			<setting label="32094" id="position1" type="labelenum" lvalues="32100|32101|32102|32103" />
			<setting label="32095" id="scaling1" type="slider" default="0.8" range="0.5,0.1,3.0" />
			<setting label="32096" id="dur_service1" type="slider" default="12" range="1,1,30" option="int" />
			<setting label="32097" id="dur_script1" type="slider" default="12" range="1,1,30" option="int" />
			<setting label="32098" id="p_service1" type="enum" lvalues="32104|32038|32031|32105" default="0" />
			<setting label="32099" id="p_script1" type="enum" lvalues="32104|32038|32031" default="0" />
	</category>
	
	<category label="32002">
		<setting label="32050" id="name2" type="text" />
		<setting label="32051" id="type2" type="enum" lvalues="32065|32066|32067|32068" default="0" />
			<setting label="32052" id="host2" type="text" enable="!eq(-1,3)" />
			<setting label="32053" id="port2" type="number" default="88" enable="!eq(-2,3)" />
			<setting label="32054" id="user2" type="text" default="admin" enable="!eq(-3,3)" />
			<setting label="32055" id="pass2" type="text" option="hidden" enable="!eq(-4,3)" />
			<setting label="32056" id="stream2" type="enum" lvalues="32071|32072" default="0" />
			<setting label="32057" id="allstream2" type="enum" lvalues="32072|32073|32074" default="1" />
			<setting label="32058" id="preview_stream2" type="enum" lvalues="32072|32073|32074" default="0" />
			<setting label="32059" id="snapshot_url2" type="text" visible="!eq(-8,0)+!eq(-8,2)" subsetting="true" />
			<setting label="32060" id="stream_url2" type="text" visible="!eq(-9,0)+!eq(-9,2)" subsetting="true" />
			<setting label="32061" id="mjpeg_url2" type="text" visible="!eq(-10,0)+!eq(-10,2)" subsetting="true" />
			
		<setting label="32080" type="lsep" />
			<setting label="32081" id="ptz2" type="enum" lvalues="32035|32084|32081" default="0" enable="!eq(-12,3)" />
			<setting label="32022" id="ptz_sensitivity2" type="slider" default="2.5" range="0.5,0.5,10" enable="!eq(-13,3)+!eq(-1,0)" subsetting="true" />
			<setting label="32082" id="conn2" type="enum" lvalues="32036|32085|32086" default="0"  enable="!eq(-14,3)+!eq(-2,0)" subsetting="true" />
			<setting label="32083" id="alarm2" type="enum" lvalues="32035|32087|32088" default="0" enable="!eq(-15,3)" />
			
		<setting label="32090" type="lsep" />
			<setting label="32091" id="motion2" type="bool" default="false" enable="gt(-2,0)" />
			<setting label="32092" id="sound2" type="bool" default="false" enable="eq(-3,2)" />
			<setting label="32093" id="interval2" type="slider" default="4" range="1,1,15" option="int" enable="gt(-4,0)" />
			<setting label="32094" id="position2" type="labelenum" lvalues="32101|32102|32103|32100" />
			<setting label="32095" id="scaling2" type="slider" default="0.8" range="0.5,0.1,3.0" />
			<setting label="32096" id="dur_service2" type="slider" default="12" range="1,1,30" option="int" />
			<setting label="32097" id="dur_script2" type="slider" default="12" range="1,1,30" option="int" />
			<setting label="32098" id="p_service2" type="enum" lvalues="32104|32038|32031|32105" default="0" />
			<setting label="32099" id="p_script2" type="enum" lvalues="32104|32038|32031" default="0" />
	</category>
	
	<category label="32003">
		<setting label="32050" id="name3" type="text" />
		<setting label="32051" id="type3" type="enum" lvalues="32065|32066|32067|32068" default="0" />
			<setting label="32052" id="host3" type="text" enable="!eq(-1,3)" />
			<setting label="32053" id="port3" type="number" default="88" enable="!eq(-2,3)" />
			<setting label="32054" id="user3" type="text" default="admin" enable="!eq(-3,3)" />
			<setting label="32055" id="pass3" type="text" option="hidden" enable="!eq(-4,3)" />
			<setting label="32056" id="stream3" type="enum" lvalues="32071|32072" default="0" />
			<setting label="32057" id="allstream3" type="enum" lvalues="32072|32073|32074" default="1" />
			<setting label="32058" id="preview_stream3" type="enum" lvalues="32072|32073|32074" default="0" />
			<setting label="32059" id="snapshot_url3" type="text" visible="!eq(-8,0)+!eq(-8,2)" subsetting="true" />
			<setting label="32060" id="stream_url3" type="text" visible="!eq(-9,0)+!eq(-9,2)" subsetting="true" />
			<setting label="32061" id="mjpeg_url3" type="text" visible="!eq(-10,0)+!eq(-10,2)" subsetting="true" />
			
		<setting label="32080" type="lsep" />
			<setting label="32081" id="ptz3" type="enum" lvalues="32035|32084|32081" default="0" enable="!eq(-12,3)" />
			<setting label="32022" id="ptz_sensitivity3" type="slider" default="2.5" range="0.5,0.5,10" enable="!eq(-13,3)+!eq(-1,0)" subsetting="true" />
			<setting label="32082" id="conn3" type="enum" lvalues="32036|32085|32086" default="0"  enable="!eq(-14,3)+!eq(-2,0)" subsetting="true" />
			<setting label="32083" id="alarm3" type="enum" lvalues="32035|32087|32088" default="0" enable="!eq(-15,3)" />
			
		<setting label="32090" type="lsep" />
			<setting label="32091" id="motion3" type="bool" default="false" enable="gt(-2,0)" />
			<setting label="32092" id="sound3" type="bool" default="false" enable="eq(-3,2)" />
			<setting label="32093" id="interval3" type="slider" default="4" range="1,1,15" option="int" enable="gt(-4,0)" />
			<setting label="32094" id="position3" type="labelenum" lvalues="32102|32103|32100|32101" />
			<setting label="32095" id="scaling3" type="slider" default="0.8" range="0.5,0.1,3.0" />
			<setting label="32096" id="dur_service3" type="slider" default="12" range="1,1,30" option="int" />
			<setting label="32097" id="dur_script3" type="slider" default="12" range="1,1,30" option="int" />
			<setting label="32098" id="p_service3" type="enum" lvalues="32104|32038|32031|32105" default="0" />
			<setting label="32099" id="p_script3" type="enum" lvalues="32104|32038|32031" default="0" />
	</category>
	
	<category label="32004">
		<setting label="32050" id="name4" type="text" />
		<setting label="32051" id="type4" type="enum" lvalues="32065|32066|32067|32068" default="0" />
			<setting label="32052" id="host4" type="text" enable="!eq(-1,3)" />
			<setting label="32053" id="port4" type="number" default="88" enable="!eq(-2,3)" />
			<setting label="32054" id="user4" type="text" default="admin" enable="!eq(-3,3)" />
			<setting label="32055" id="pass4" type="text" option="hidden" enable="!eq(-4,3)" />
			<setting label="32056" id="stream4" type="enum" lvalues="32071|32072" default="0" />
			<setting label="32057" id="allstream4" type="enum" lvalues="32072|32073|32074" default="1" />
			<setting label="32058" id="preview_stream4" type="enum" lvalues="32072|32073|32074" default="0" />
			<setting label="32059" id="snapshot_url4" type="text" visible="!eq(-8,0)+!eq(-8,2)" subsetting="true" />
			<setting label="32060" id="stream_url4" type="text" visible="!eq(-9,0)+!eq(-9,2)" subsetting="true" />
			<setting label="32061" id="mjpeg_url4" type="text" visible="!eq(-10,0)+!eq(-10,2)" subsetting="true" />
			
		<setting label="32080" type="lsep" />
			<setting label="32081" id="ptz4" type="enum" lvalues="32035|32084|32081" default="0" enable="!eq(-12,3)" />
			<setting label="32022" id="ptz_sensitivity4" type="slider" default="2.5" range="0.5,0.5,10" enable="!eq(-13,3)+!eq(-1,0)" subsetting="true" />
			<setting label="32082" id="conn4" type="enum" lvalues="32036|32085|32086" default="0"  enable="!eq(-14,3)+!eq(-2,0)" subsetting="true" />
			<setting label="32083" id="alarm4" type="enum" lvalues="32035|32087|32088" default="0" enable="!eq(-15,3)" />
			
		<setting label="32090" type="lsep" />
			<setting label="32091" id="motion4" type="bool" default="false" enable="gt(-2,0)" />
			<setting label="32092" id="sound4" type="bool" default="false" enable="eq(-3,2)" />
			<setting label="32093" id="interval4" type="slider" default="4" range="1,1,15" option="int" enable="gt(-4,0)" />
			<setting label="32094" id="position4" type="labelenum" lvalues="32103|32100|32101|32102" />
			<setting label="32095" id="scaling4" type="slider" default="0.8" range="0.5,0.1,3.0" />
			<setting label="32096" id="dur_service4" type="slider" default="12" range="1,1,30" option="int" />
			<setting label="32097" id="dur_script4" type="slider" default="12" range="1,1,30" option="int" />
			<setting label="32098" id="p_service4" type="enum" lvalues="32104|32038|32031|32105" default="0" />
			<setting label="32099" id="p_script4" type="enum" lvalues="32104|32038|32031" default="0" />
	</category>
	
	
	
	
</settings>
